
@{
    ViewData["Title"] = "Katagoriya";
    int count = 0;
}
@model List<Category>
<div class="container">
    <h1 style="margin-top:1rem">Kateqoriyalar</h1>
    <a style="margin-bottom:1rem" class="btn btn-warning" asp-action="create">Yeni Kateqoriya</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kateqoriya Adı</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                if (item.IsDeleted == false)
                {
            <tr>
                <th scope="row">@count</th>
                <td>@item.Name</td>
                <td><a class="btn btn-success" asp-action="update" asp-route-id="@item.Id">Redaktə Et</a></td>
                <td><a class="btn btn-danger delete-btn" data-id="@item.Id" data-name="category" asp-route-id="@item.Id">Sil</a></td>

            </tr>
                }
                else
                {
        <tr>
            <th scope="row">@count</th>
            <td style="color:red">@item.Name</td>
            <td><a class="btn btn-success berpa-btn" data-id="@item.Id" data-name="category" asp-route-id="@item.Id">Bərpa Et</a></td>

        </tr>
                }
            }

        </tbody>
    </table>
</div>