
@{
    ViewData["Title"] = "AdminPanel";
}
@using Madeyra.Services
@inject LayoutService Service
@{ 
    List<ProductComment> comments = Service.Comments();
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="https://madeyra.com/catalog/view/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/toaster/toastr.min.css">


</head>

<body id="page-top">
    @if (TempData["OrderError"] != null)
    {
        <input type="hidden" id="toaster-error" value="@TempData["OrderError"]" />}
    @if (TempData["MehsulBitib"] != null)
    {
        <input type="hidden" id="toaster-error" value="@TempData["MehsulBitib"]" />}
    @if (TempData["MehsulBitib2"] != null)
    {
        <input type="hidden" id="toaster-error" value="@TempData["MehsulBitib2"]" />}
    
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="index" asp-controller="dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-house-chimney"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Madeyra Salonu <sup>Mebel</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-action="index" asp-controller="dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Əsas səhifə</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Səhifələr</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-action="index" asp-controller="category">Kateqoriyalar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="subcategory">Alt-Kateqoriyalar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="matreal">Matreallar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="color">Rənglər</a>
                        <a class="collapse-item" asp-action="index" asp-controller="design">Dizaynlar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="product">Məhsullar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="card">Kartlar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="slide">Slider</a>
                        <a class="collapse-item" asp-action="admins" asp-controller="account">Adminlər</a>
                        <a class="collapse-item" asp-action="index" asp-controller="order">Sifarişlər</a>
                        <a class="collapse-item" asp-action="index" asp-controller="comment">
                            Şərhlər
                            <span style="color:white" class="position-absolute top-0 start-200 translate-middle badge rounded-pill bg-danger">
                                @comments.Count
                                <span class="visually-hidden" style="color:white;font-size:0.6rem">Oxunmamış şərh</span>
                            </span>
                        </a>
                        <a class="collapse-item" asp-action="index" asp-controller="store">Mağazalar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="video">Videolar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="compagain">Kampaniyalar</a>
                        <a class="collapse-item" asp-action="index" asp-controller="setting">Tənzimləmələr</a>



                    </div>
                </div>
            </li>

          

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            @RenderBody()


            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-action="logout" asp-controller="account">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admin/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="~/admin/vendor/chart.js/Chart.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/chart-area-demo.js"></script>
    <script src="~/admin/js/demo/chart-pie-demo.js"></script>
    <script src="~/admin/js/main.js"></script>
    <script src="~/plugins/toaster/toastr.min.js"></script>

    <script>
        $(function () {
            if ($("#toaster-error").length) {
                toastr["error"]($("#toaster-error").val())
            }

            if ($("#toaster-success").length) {
                toastr["success"]($("#toaster-success").val())
            }
            if ($("#toaster-success").length) {
                toastr["removebasket"]($("#toaster-success").val())
            }

            if ($("#toaster-warning").length) {
                toastr["warning"]($("#toaster-warning").val())
            }

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        })

    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>