
@{
    ViewData["Title"] = "Madeyra mebel|Mebel mağazası|Aşağı qiymətlər və yüksək keyfiyyət";
}
@model HomeViewModel
<main>
    <section>
        <div id="down-search" class="down-search">
            <div class="search">
                <div class="search-form">
                    <div class="row">
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                            <input style="width: 1rem;" type="search" placeholder="Axtarış...">
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section>
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="owl-carousel1 owl-theme1">

                            <div class="item">
                                <img src="https://madeyra.com/image/cache/catalog/Cover%20-%20Banner/ozel%20endirim/butun%20mehsullara%2015faiz%20ozel%20endirim-908x511.webp"
                                     alt="">
                            </div>
                            <div class="item">
                                <img src="https://madeyra.com/image/cache/catalog/Cover%20-%20Banner/14fevral/14_fevral_ozel_kampaniya-908x511.webp"
                                     alt="">
                            </div>
                            <div class="item">
                                <img src="https://madeyra.com/image/cache/catalog/Cover%20-%20Banner/Alish%20verish%20et%20hediyyeni%20apar/sayt.2%20resize-908x511.webp"
                                     alt="">
                            </div>
                            <div class="item">
                                <img src="https://madeyra.com/image/cache/catalog/Cover%20-%20Banner/Indi%20al%202%20ay%20ode/indi_al_iki_ay_sonra_ode_serfeli_kampaniya_yeni_butun_mehsullar-908x511.webp"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="cards">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="image">
                                    <div class="card-image">
                                        <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/shield.png.pagespeed.ce.eQdIut8Mom.png"
                                             alt="">
                                    </div>
                                </div>
                                <h5 class="card-title">Rəsmi zəmanət</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="image">
                                    <div class="card-image">
                                        <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/truck.png.pagespeed.ce._SIMA9nqeI.png"
                                             alt="">
                                    </div>
                                </div>
                                <h5 class="card-title">Pulsuz çatdırılma</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="image">
                                    <div class="card-image">
                                        <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/headset.png.pagespeed.ce.ugxO5NFth8.png"
                                             alt="">
                                    </div>
                                </div>
                                <h5 class="card-title">Ödənişsiz Məsləhətçi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="image">
                                    <div class="card-image">
                                        <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/coupon.png.pagespeed.ce.YByKkpYA7l.png"
                                             alt="">
                                    </div>
                                </div>
                                <h5 class="card-title">Ən sərfəli qiymətlər və xüsusi kampaniyalar</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="reclam">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="reclam-image">
                            <img src="https://madeyra.com/image/cache/catalog/Cover%20-%20Banner/24ayfaizsiz/sayt_1_resize-24%20ay-720x255.webp"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="reclam-image">
                            <img src="https://madeyra.com/image/cache/catalog/Banner%20foto/catalog%20cover-388x255.webp"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="favorite">
            <div class="container">
                <div class="row">
                    <h6>
                        Ən çox baxılanlar
                    </h6>
                </div>
                <hr>
                <div class="owl-carousel owl-theme">
                    <div class="item">

                        <div class="card">
                            <div class="favorite-image">
                                <img src="https://madeyra.com/image/cache/catalog/Amber/D65HQbt3ns-521x293.webp"
                                     class="card-img-top" alt="...">
                            </div>
                            <div class="credit-tag">
                                <div class="price">
                                    <span>Ayda <br> 64</span>
                                </div>
                                <div class="tag">
                                    <span>24 Ay Faizsiz</span>
                                </div>
                            </div>
                            <i class="fa-solid fa-heart"></i>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <span>Amber divan dəsti</span>
                                        <div class="row">
                                            <div class="favorite-price">
                                                <div class="price">
                                                    <span class="oldprice">1,487</span> <span class="newprice">1,115</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

                                        <div class="kompaniya">
                                            <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/pay-later.png.pagespeed.ce._ncBfaI94O.png"
                                                 alt="">
                                            <div class="img-txt">
                                                <span>indi al</span>
                                                <span>2 ay</span>
                                                <span>sonra ödə</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="card">
                            <div class="favorite-image">
                                <img src="https://madeyra.com/image/cache/catalog/lugano%20yataq/lugano%202-521x293.webp"
                                     alt="">
                            </div>
                            <div class="credit-tag">
                                <div class="price">
                                    <span>Ayda <br> 64</span>
                                </div>
                                <div class="tag">
                                    <span>24 Ay Faizsiz</span>
                                </div>
                            </div>
                            <i class="fa-solid fa-heart"></i>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <span>Lugano yataq dəsti</span>
                                        <div class="row">
                                            <div class="favorite-price">
                                                <div class="price">
                                                    <span class="oldprice">1,487</span> <span class="newprice">1,746</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

                                        <div class="kompaniya">
                                            <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/pay-later.png.pagespeed.ce._ncBfaI94O.png"
                                                 alt="">
                                            <div class="img-txt">
                                                <span>indi al</span>
                                                <span>2 ay</span>
                                                <span>sonra ödə</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="card">
                            <div class="favorite-image">
                                <img src="https://madeyra.com/image/cache/catalog/Sena%20dest/Sena%20yataq/1-521x293.webp"
                                     alt="">
                            </div>
                            <div class="credit-tag">
                                <div class="price">
                                    <span>Ayda <br> 64</span>
                                </div>
                                <div class="tag">
                                    <span>24 Ay Faizsiz</span>
                                </div>
                            </div>
                            <i class="fa-solid fa-heart"></i>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <span>Sena ekonom yataq dəsti</span>
                                        <div class="row">
                                            <div class="favorite-price">
                                                <div class="price">
                                                    <span class="oldprice">1,465</span> <span class="newprice">1,099</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

                                        <div class="kompaniya">
                                            <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/pay-later.png.pagespeed.ce._ncBfaI94O.png"
                                                 alt="">
                                            <div class="img-txt">
                                                <span>indi al</span>
                                                <span>2 ay</span>
                                                <span>sonra ödə</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="card">
                            <div class="favorite-image">
                                <img src="https://madeyra.com/image/cache/catalog/Life%20desti/Life%20yataq/1-521x293.webp"
                                     alt="">
                            </div>
                            <div class="credit-tag">
                                <div class="price">
                                    <span>Ayda <br> 64</span>
                                </div>
                                <div class="tag">
                                    <span>24 Ay Faizsiz</span>
                                </div>
                            </div>
                            <i class="fa-solid fa-heart"></i>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <span>Life yataq dəsti</span>
                                        <div class="row">
                                            <div class="favorite-price">
                                                <div class="price">
                                                    <span class="oldprice">1,708</span> <span class="newprice">1,281</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

                                        <div class="kompaniya">
                                            <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/pay-later.png.pagespeed.ce._ncBfaI94O.png"
                                                 alt="">
                                            <div class="img-txt">
                                                <span>indi al</span>
                                                <span>2 ay</span>
                                                <span>sonra ödə</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class="card">
                            <div class="favorite-image">
                                <img src="https://madeyra.com/image/cache/catalog/nevis%20qonaq/1122-521x293.webp"
                                     alt="">
                            </div>
                            <div class="credit-tag">
                                <div class="price">
                                    <span>Ayda <br> 64</span>
                                </div>
                                <div class="tag">
                                    <span>24 Ay Faizsiz</span>
                                </div>
                            </div>
                            <i class="fa-solid fa-heart"></i>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                        <span>Nevis qonaq dəsti</span>
                                        <div class="row">
                                            <div class="favorite-price">
                                                <div class="price">
                                                    <span class="oldprice">1,487</span> <span class="newprice">1,162</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

                                        <div class="kompaniya">
                                            <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/pay-later.png.pagespeed.ce._ncBfaI94O.png"
                                                 alt="">
                                            <div class="img-txt">
                                                <span>indi al</span>
                                                <span>2 ay</span>
                                                <span>sonra ödə</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        </div>
    </section>
    <section>
        <div class="favorite">
            <div class="container">
                <div class="row">
                    <h6>
                        Yeni Məhsul
                    </h6>
                </div>
                <hr>
                <div class="owl-carousel owl-theme">
                    @foreach (var product in Model.Products)
                    {
                        if (product.IsNew == true && product.IsDeleted==false)
                        {
                            <div class="item">

                                <div class="card">
                                    <div class="favorite-image">
                                        <a asp-action="detail" asp-controller="product" asp-route-id="@product.Id">
                                            <img src="~/uploads/product/@product.ProductImages.FirstOrDefault(x=>x.IsPoster==true)?.Image"
                                                 alt="">
                                        </a>
                                    </div>
                                    @if (product.IsInterestFree == true)
                                    {
                                        <div class="credit-tag">
                                            <div class="price">
                                                <span>Ayda <br> 64</span>
                                            </div>
                                            <div class="tag">
                                                <span>24 Ay Faizsiz</span>
                                            </div>
                                        </div>
                                    }
                                    <a style="color:black"  asp-controller="product" asp-action="AddtoWish" asp-route-id="@product.Id" ><i class="fa-solid fa-heart"></i></a>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                                <a style="color:black" asp-action="detail"  asp-controller="product" asp-route-id="@product.Id"> <span>@product.Name</span></a>
                                                <div class="row">
                                                    <div class="favorite-price">
                                                        <div class="price">
                                                            <span class="oldprice">@((product.SalePrice).ToString("#.##"))₼</span> <span class="newprice">@((product.SalePrice*(1-(product.DiscountPrice/100))).ToString("#.##"))</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

                                                <div class="kompaniya">
                                                    <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/pay-later.png.pagespeed.ce._ncBfaI94O.png"
                                                         alt="">
                                                    <div class="img-txt">
                                                        <span>indi al</span>
                                                        <span>2 ay</span>
                                                        <span>sonra ödə</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    }

                </div>

            </div>

        </div>
        </div>
    </section>

    <section>
        <div class="end">
            <div class="container">
                <div class="row">
                    <h1>Madeyra online mebel mağazasına xoş gəlmisiniz.</h1>
                </div>
                <div class="row">
                    <p>
                        Madeyra onlayn mebel mağazasında yataq dəstindən yumşaq mebelə qədər sərfəli və
                        keyfiyyətli
                        ev mebeli ala bilərsiniz. Hal-hazırda Madeyra brendinin Azərbaycan Respublikası üzrə
                        ümumi
                        mağazalar şəbəkəsinə 78 mebel mağazası daxildir. Mağazalarımızda və veb saytımızda bütün
                        mebellərin satışı mövcuddur. 18 ay müddətinə kreditlə mebel ala bilərsiniz, eyni zamanda
                        hər
                        zövq üçün əla seçimimiz var – Klassik üslubdan moderna qədər.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
