@model List<Product>
@{
    if(Model!=null &&Model.Count>0)
    {
        string name = Model.First().SubCategory.Name;
        ViewData["Title"] = name;
    }
            else
            {
                ViewData["Title"] = "Nəticə tapılmadı";
            }
}

<main>
    <section>
        <div id="down-search" class="down-search">
            <div class="search">
                <div class="search-form">
                    <div class="row">
                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                            <input style="width: 1rem;" type="search" placeholder="Axtarış...">
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <section>
        <div class="mehsul siyahi">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-12 col-sm-12 col-12">
                        <div class="mehsul-filter">
                            <div class="container">
                                <div class="row">
                                    <div id="filter-icon" class="filter">
                                        <h4>Filter</h4>
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </div>
                                    <div class="qiymet">
                                        <h3>Qiymət</h3>
                                        <i id="qiymet-icon" class="fa-solid fa-caret-up"></i>
                                    </div>
                                    <div class="qiymet-range">

                                        <div style="width:100%" class="single-block">
                                            <div class="range-slider pt--10">
                                                <div  class="sb-range-slider"></div>
                                                <div class="slider-price">
                                                    <p>
                                                        <input  type="text" id="amount" readonly="" />
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-9 col-md-12 col-sm-12 col-12">
                        <div class="mehsul-sekil">
                            <img src="https://madeyra.com/image/cache/catalog/catagory%20foto/yataq-1920x400.webp" alt="">
                            @if (Model != null &&Model.Count>0)
                            {
                                <h5>@Model.First().SubCategory.Category.Name</h5>
                            }
                        </div>
                        <div class="siyahi-top">
                            @if (Model != null && Model.Count > 0)
                            {
                                @Model.First().SubCategory.Name
                            }
                          
                            
                            <a asp-action="index" asp-controller="home"><i class="fa-solid fa-house-chimney"></i></a></i> <i class="fa-solid fa-angle-right"></i> <a> <span>@if (Model.Count > 0 && Model != null)
                            {@Model.First().SubCategory.Category.Name}
                            else {<span>Nəticə tapılmadı</span>}</span></a> <i class="fa-solid fa-angle-right"></i> <a href="">
                                <span>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        @Model.First().SubCategory.Name
                                    }

                                </span>
                            </a>
                        </div>
                        <div class="still">
                            <span>Sütun stili:</span><i id="grid2" class="fa-solid fa-border-all"></i><i id="grid3" class="fa-solid fa-table-cells"></i>
                        </div>
                        <div class="row">
                            <div class="favorite">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {

                                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="item">

                                                <div class="card">
                                                    <div class="favorite-image">
                                                        <a asp-action="detail" asp-controller="product" asp-route-id="@item.Id">
                                                            <img src="~/uploads/product/@item.ProductImages.FirstOrDefault(x=>x.IsPoster==true)?.Image"
                                                                 class="card-img-top" alt="...">
                                                        </a>
                                                    </div>
                                                    @if (item.IsInterestFree == true)
                                                    {
                                                        <div class="credit-tag">
                                                            <div class="price">
                                                                <span>Ayda <br> 64</span>
                                                            </div>
                                                            <div class="tag">
                                                                <span>24 Ay Faizsiz</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    <a style="color:black" asp-controller="product" asp-action="AddtoWish" asp-route-id="@item.Id"><i class="fa-solid fa-heart"></i></a>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
                                                                <a style="color:black" asp-action="detail" asp-route-id="@item.Id" asp-controller="product"> <span>@item.Name</span></a>
                                                                <div class="row">
                                                                    <div class="favorite-price">
                                                                        <div class="price">
                                                                            <span class="oldprice">@if (item.DiscountPrice > 0) { @((item.SalePrice).ToString("#.##")) <span>₼</span>}</span> <span class="newprice">@((item.SalePrice*(1-(item.DiscountPrice/100))).ToString("#.##"))₼</span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

                                                                <div class="kompaniya">
                                                                    <img src="https://madeyra.com/catalog/view/theme/madeyra/images/icons/pay-later.png.pagespeed.ce._ncBfaI94O.png"
                                                                         alt="">
                                                                    <div class="img-txt">
                                                                        <span>indi al</span>
                                                                        <span>2 ay</span>
                                                                        <span>sonra ödə</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </div>
    </section>
</main>
@section Scripts
{
   <script>
       var $calc = $('#calculator');
       var $button = $('#calculate-total');
       var $treatmentCost = $('#cost');
       var $downPayment = $('#down-payment');
       var $insuranceCoverage = $('#insurance-coverage');
       var $rangeSlider = $('#financing-term');
       var $expectedPayment = $('#expected-payment');
       var $estimated = $('#estimate');

       var $ft = $("#financing-term");

       $ft.ionRangeSlider({
           min: 6,
           max: 32,
           grid: true,
           grid_snap: true,
           hide_min_max: true,
           from: 6,
           step: 2,
           skin: "round",
       });

       $ftInstance = $ft.data("ionRangeSlider");

       $expectedPayment.on("propertychange input", function (e) {
           var val = parseFloat($expectedPayment.val());

           if (val > 0) {
               $ftInstance.update({
                   disable: true
               });
           } else {
               $ftInstance.update({
                   disable: false
               });
           }
       });

       function calculate() {

           var cost = parseFloat($treatmentCost.val());
           if (isNaN(cost) || (cost === "") || (cost < 0)) {
               cost = 0;
               $treatmentCost.val(0);
           }

           var down = parseFloat($downPayment.val());
           if (isNaN(down) || (down === "") || (down < 0)) {
               down = 0;
               $downPayment.val(0);
           }

           var insurance = parseFloat($insuranceCoverage.val());
           if (isNaN(insurance) || (insurance === "") || (insurance < 0)) {
               insurance = 0;
               $insuranceCoverage.val(0);
           }

           var expected = parseFloat($expectedPayment.val());
           if (isNaN(expected) || (expected === "") || (expected < 0)) {
               expected = 0;
               $expectedPayment.val(0);
           }

           var total = "";
           var from = $ft.prop("value");
           var from2 = $ft.data("from");

           if (expected > 0) {
               total = (cost - down - insurance) / expected;
               $ftInstance.update({
                   from: total
               });
               var result = "";

               if (total > 32) {
                   result = "It will take more than 32 months to pay off.";
                   $estimated.addClass("over");
               } else {
                   result = "It will take " + Math.round(total) + ' months to pay off.';
                   $estimated.removeClass("over");
               }

               $estimated.html(result);
           } else {
               total = (cost - down - insurance) / from2;
               if (total < 0) {
                   total = 0;
               }
               var result = 'Your estimated payment is: $' + Math.round(total) + ' / month.';
               $estimated.html(result);

               if ($estimated.hasClass('over')) {
                   $estimated.removeClass('over');
               }
           }
       }

       $button.click(function (e) {
           e.preventDefault();
           calculate();
           $button.val("Recalculate Total");
       });


   </script>
<script src="~/plugins/range/plugins.js"></script>
<script>
                    $(function () {
                        $(".sb-range-slider").slider({
                            range: true,
                            min: @ViewBag.Min,
                            max: @ViewBag.Max,
                            values: [@ViewBag.SelectMin, @ViewBag.SelectMax],
                            slide: function (event, ui) {
                                $("#amount").val("₼" + ui.values[0] + " -₼" + ui.values[1]);
                            },
                            
                            change: function (event, ui) {
                                console.log(ui.values[0] + ' - ' + ui.values[1])

                                let url = new URL(window.location.href);
                                let params = new URLSearchParams(url.search);

                                params.set("min", ui.values[0]);
                                params.set("max", ui.values[1]);
                                url.search = params;

                                window.location = url.href;
                            }
                        });
                        $("#amount").val("₼" + $(".sb-range-slider").slider("values", 0) +
                            " - ₼" + $(".sb-range-slider").slider("values", 1));
                    });
</script>
}
